<div class="center hero-unit">
  <h1>みと食辞典にようこそ</h1>

  <h2>
    このサイトは水戸を中心に人気の飲食店をガイドします。
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Powered by Rails"), 'http://rubyonrails.org/' %>