<% provide(:title, "New area") %>
<h1>New area</h1>	

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@area) do |f| %>   
      <%= render 'fields', f: f %>
      <%= f.submit "Create new area", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>